<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h3><%= blog.title %></h3>
    <p><%= blog.body %></p>
    <a onclick="deleteClick()" class="delete" data-doc="/delete-blog/<%= blog._id %>">Delete</a>

    <%- include('./partials/footer.ejs') %>
    <script>
        deleteBtn = document.querySelector('.delete');
        deleteClick =(e)=>{
            
            const endpoint = deleteBtn.dataset.doc
            console.log(endpoint)
            fetch(endpoint,{
                method: 'DELETE',
            }).then(response => {
                console.log(response)
                response.json().then((data)=>{
                    console.log(data.redirect)
                    window.location.href = data.redirect
                }).catch(error => console.log(error));
            })
            .catch(error => console.log(error));
        }
    </script>
</body>
</html>