<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <%- include('./partials/nav.ejs') %>
    <h1>This is the home page</h1>
    <p>Welcome To This Page</p>
    <% if (blogs.length > 0) {  %>
        <% blogs.map(blog=> {  %>
            <h3><%= blog.title %></h3>
            <p><%= blog.snippet %></p>
        <% }) %>
    <% } else { %>
        <p>There is no blog.</p>
    <% } %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>